pre {
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
  
    header {
      background-image: linear-gradient(to right, #08306E, #0B47A5);
    }
    
    nav.md-tabs {
      background-image: linear-gradient(to right, #08306E, #0B47A5);
    }
  
    @font-face {
      font-family: 'HCLTech Roobert';
      src: local('HCLTechRoobert-Regular'), url(HCLTechRoobert-Regular.otf);
    }
    
    tr.lostLinkItem:nth-child(even) {
      background-color: #eeeeee;
    }
    